<?xml version="1.0" encoding="utf-8"?>
<routes>
	<route team="Tonatiuh" cost="168.3025291627486" cities="12">
	<city id="0" name="campo base">
</city>
	<city id="2" name="Quito">
</city>
	<city id="4" name="Ecatepec">
</city>
	<city id="1" name="Cusco">
</city>
	<city id="3" name="Ollantaytambo">
</city>
	<city id="9" name="Machu Picchu">
</city>
	<city id="8" name="Macondo">
</city>
	<city id="5" name="Otompan">
</city>
	<city id="7" name="Tikal">
</city>
	<city id="6" name="Tenochtitlan">
</city>
	<city id="10" name="Quirigua">
</city>
	<city id="12" name="Rovine Perdute">
</city>
</route>
	<route team="Metztli" cost="20.0" cities="4">
	<city id="0" name="campo base">
</city>
	<city id="6" name="Tenochtitlan">
</city>
	<city id="10" name="Quirigua">
</city>
	<city id="12" name="Rovine Perdute">
</city>
</route>
</routes>